body {
    text-align:center;
}
h1 {
    color:rgb(0, 0, 0);
    text-align:center;
    font-size: 100px;
}
a {
    color:rgb(0, 0, 0);
    text-align:center;
    font-size:auto;
}
#images{
    position: absolute;
}
#cookie{
    position: absolute;
    width: 600px;
}
#score {
    font-size:40px;
}