body {
    text-align:center;
    background-color:rgb(5, 70, 7);
}
h1 {
    color:rgb(255, 255, 255);
    text-align:center;
    font-size: 100px;
}
a {
    position: absolute;
    color:rgb(255, 255, 255);
    text-align:center;
    font-size:auto;
}
#images{
    position: absolute;
}
#cookie{
    position: absolute;
    left: 500px;
    top: 75px;
    width: 600px;
}
.score {
    background-color:rgb(255, 255, 255);
    font-size:40px;
}