body {
    text-align:center;
}
h1 {
    color:rgb(255, 255, 255);
    text-align:center;
    font-size: 100px;
}
a {
    color:rgb(255, 255, 255);
    text-align:center;
    font-size:auto;
}
#cookie{
    position: absolute;
    width: 25px;
}
#score {
    font-size:40px;
}